body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

* {
  box-sizing: border-box;
}

.logo-container {
  height: 35%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px
}

.ion-md-chatbubbles {
  font-size: 150px;
}

.go-back-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0px;
}

.ion-ios-arrow {
  font-size: 40px;
}





/* loading screen */
.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #00c4ff;
  animation: loading-screen-background 1s infinite alternate;
}

.loader {

}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 1px;
  width: 3px;
  height: 25px;
}

.line:nth-child(1) {
  background: #000;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #000;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #000;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #000;
}

@keyframes loading-screen-background {
  from {
    background-color: #00c4ff;
  }
  to {
    background-color: #00ffad;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3);
  }
}






/* sign in screen */
.sign-in-screen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sign-in-inputs-container {
  flex: 1;
  width: 100%;
}

.sign-in-input-container {
  width: 100%;
}

.sign-in-input-label {
  padding: 0px 10px;
}

.sign-in-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
}

.sign-in-input:focus {
  border-bottom: 2px solid #00c4ff;
}

.auth-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-icon {
  font-size: 40px ;
  margin: 20px 50px;
}

.btn-container {
  width: 100%;
}

.btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.accent-color-1 {
  background-color: #00ffad;
}

.accent-color-2 {
  background-color: #00c4ff;
}







/* sign up screen */
.sign-up-screen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sign-up-inputs-container {
  flex: 1;
  width: 100%;
}

.sign-up-input-container {
  width: 100%;
}

.sign-up-input-label {
  padding: 0px 10px;
}

.sign-up-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
}

.sign-up-input:focus {
  border-bottom: 2px solid #00c4ff;
}






/* chat screen */
.chat-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.chat-header {
  height: 50px;
  padding: 0px 10px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.sign-out-btn {
  width: 40px;
  height: 40px;
  color: #fff;
}

.chat-screen-messages-container {
  flex: 1;
  background-color: #00c4ff;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-screen-input-container {
  height: 50px;
  width: 100%;
  border-top: 2px solid;
  position: relative;
  display: flex;
  box-sizing: content-box;
}

.chat-screen-input {
  height: 100%;
  font-size: 16px;
  flex: 1;
}

.chat-screen-send-msg-btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}





/* chat bublles */
.right {
  flex-flow: row-reverse;
  text-align: right; }

.left {
  flex-flow: row;
  text-align: left; }

.msg-div {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: 24px;
  display: flex; }

.name {
  font-size: 15px;
  color: #bcb7b7; }

.msg {
  word-wrap: break-word; 
  color: #000;
}

.profile-img {
  height: 50px;
  width: auto;
  border-radius: 50px; }

.date {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #bcb7b7; }


  /* Bubbles */
/* container */
.container {
  padding: 5% 5%; }

/* CSS talk bubble */
.talk-bubble {
  z-index: 10;
  margin: 0px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: #fff; }

.border {
  border: 8px solid #666; }

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent; }

.tri-right.left-top:after {
  z-index: -1;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent; }

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff #fff transparent transparent; }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666; }

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #fff; }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666; }

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff transparent transparent #fff; }

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent; }

/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #fff;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent; }

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666; }

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff transparent transparent #fff; }

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent; }

.tri-right.right-top:after {
  z-index: -1;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent; }

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em; }

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }


